.mission_bgs {
  min-width: 18%;
  height: 14%;
  position: absolute;
  top: 55%;
}

.mission_bottom {
  position: absolute;
  top: 70%;
  left: 14%;
  max-width: 76%;
  padding: 0;
}

.mission_text {
  position: relative;
  float: right;
  right: 80px;
  width: 41%;
  text-align: left;
  color: #AFAFAF;
  background-color: transparent;
  margin-top: 1%;
  font-size: 11px;
}

textarea {
  background-color: transparent;
  border: none;
  resize: none;
  overflow: auto;
  position: relative;
  right: -15%;
  padding-top: 6%;
  max-width: 100%;
}

/*[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}*/