.mission_bgs {
  box-sizing: border-box;
  min-width: 35%; /*18%*/
  height: 14%;
  position: absolute;
  top: 55%;
}

/*.mission_bgs ul {
  position: absolute;
  top: -30px;
}
*/
/*.mission_scenes {
  max-width: 70%;
  height: auto;
  border: 3px solid white;
  margin: 15px auto;
  box-shadow: 0 5px 5px #AFAFAF;
}*/

.mission_bottom {
  position: absolute;
  top: 71%;
  left: 12%;
  max-width: 83%;
  padding: 0;
}

.mission_text {
  position: relative;
  float: right;
  right: 80px;
  width: 41%;
  text-align: left;
  color: #AFAFAF;
  background-color: transparent;
  margin-top: 1%;
  font-size: 11px;
}

textarea {
  background-color: transparent;
  border: none;
  resize: none;
  overflow: auto;
  position: relative;
  right: -15%;
  padding-top: 4%;
  max-width: 100%;
}

/*[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}*/