nav {
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  height: 2em;
  width: auto;
  margin-top: 0;
  }

  .navlist {
    position: relative;
  }
  .navlist li {
    margin-top: 5px;
  }

  .home {
    background-position: 14.932% 15.175%;
    position: relative;
    max-width: 100%;
    width: 70px;
    height: 18px;
    margin-right: 50px;
  }

  .gallery {
    background-position: 21.488% 15.175%;
    position: relative;
    max-width: 100%;
    width: 112px;
    height: 18px;
    margin-right: 50px;
  }

  .official {
    background-position: 31.567% 15.175%;
    position: relative;
    max-width: 100%;
    width: 172px;
    height: 18px;
    margin-right: 50px;
  }
