.scenes {
  position: relative;
  top: 49%;
  left: 17%;
  height: 19%; /*328px;*/
  max-width: 76%;
}

.scene_links {
  position: relative;
  bottom: 12%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.updated_text {
  color: #AFAFAF;
  padding: 0 5px 0 5px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  top: 80%;
  height: 20%;
  max-width: 100%;
  background-color: black;
  border-top: 2px solid #AFAFAF;
  box-shadow: 0 3px 3px #AFAFAF;
}

.updated_text::after {
  color: #AFAFAF;
  padding: 0 5px 0 5px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  top: 80%;
  height: 20%;
  width: 100%;
  background-color: black;
  border-top: 2px solid #AFAFAF;
  box-shadow: 0 3px 3px #AFAFAF;
}


.scenes p {
  color: #AFAFAF;
  margin-left: 60px;
}

.scene_text {
  position: absolute;
  width: 57%;
  text-align: right;
  top: 36%;
  right: 6%; /*60px;*/
}
