/*slider styling*/
.slider1 {
  position: relative;
  left: 7%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 27%;
  height: auto;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
}

.chars {
  width: 5em;
  height: 6.5em;
  text-align: center;
  padding-right: 18%;
}

.slider1 img {
  display: inline-block;
}

.slider1 .slick-slide {
  width: 80px;
}

.slider2 {
  position: relative;
  left: 50px;
  width: 115px;
  height: auto;
  background-color: transparent;
  text-align: center;
}

.mission_scenes {
  width: 6em;
  border: 3px solid white;
  margin: 15px auto;
  box-shadow: 0 5px 5px #AFAFAF;
}

.slider2 .slick-slide{
  width: 50px;
}

.slick-prev::before, .slick-next::before {
  color: #FC7A38;
  line-height: 2;
  font-size: 24px;
}

