/*sprites*/
.sprite {
  background: url('../images/assets/spritesheet.png') no-repeat;
  width: 1550px;
  height: 275px; 
}

/*Using http://www.spritecow.com/ to get positions*/
.preview_button {
  background-position: 0.489% 2.724%;
  max-width: 100%;
  width: 118px;
  height: 18px;
  position: absolute;
  top: 113em;
  left: 73%;
  text-align: center;
}

.add_button {
  background-position: 6.925% 13.525%;
  position: absolute;
  max-width: 100%;
  width: 106px;
  height: 31px;
  top: 5em;
  right: -71px;
}

.scene1 {
  background-position: 0.139% 49.378%;
  position: relative;
  max-width: 100%;
  width: 108px;
  height: 34px;
  margin-left: 10px;
}

.scene2 {
  background-position: 7.911% 49.378%;
  position: relative;
  max-width: 100%;
  width: 109px;
  height: 34px;
  margin-left: 10px;
}

.scene3 {
  background-position: 15.753% 49.378%;
  position: relative;
  max-width: 100%;
  width: 109px;
  height: 34px;
  margin-left: 10px;
}
.scene4 {
  background-position: 23.648% 49.378%;
  position: relative;
  max-width: 100%;
  width: 108px;
  height: 34px;
  margin-left: 10px;
}

.prev1 {
  background-position: 43.111% 0.467%;
  position: relative;
  max-width: 100%;
  width: 84px;
  height: 61px;
  /*margin-left: 10px;*/
}


